@model IEnumerable<PlantTrade.Models.Tutorial>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Admin Turorials";
}

<script>
    function confirmDel(id) {
        if (document.getElementById("ItemDelConfirm-" + id).style.display == "block") {
            document.getElementById("ItemDelConfirm-" + id).style.display = "none";
            document.getElementById("ItemButtons-" + id).style.display = "block";
        }
        else {
            document.getElementById("ItemButtons-" + id).style.display = "none";
            document.getElementById("ItemDelConfirm-" + id).style.display = "block";
        }
    }

    function search() {
        var value = document.getElementById("searchItem").value.toLowerCase().replace(" ","-");
        var elements = document.getElementsByName("tutorial");
        for (var i = 0; i < elements.length; i++) { 
            var name = elements[i].classList[0];
            if (name.toString().toLowerCase().includes(value)) {
                elements[i].removeAttribute("style");
            }
            else {
                elements[i].style.display = "none"
            }
        }
    }
</script>

<div class="row justify-content-center pt-3">
    <div class="col-md-2 my-5">
        <ul class="nav nav-pills flex-column GebruikerMenu">
            <li class="nav-item GebruikerMenuItem">
                <a class="nav-link" id="adminRights" asp-controller="Admin" asp-action="AdminRights">Admins beheren</a>
            </li>
            <li class="nav-item GebruikerMenuItem">
                <a class="nav-link" id="adminReports" asp-controller="Admin" asp-action="AdminReport">Report</a>
            </li>
            <li class="nav-item GebruikerMenuItem">
                <a class="nav-link" id="adminFeedback" asp-controller="Admin" asp-action="AdminFeedback">Feedback</a>
            </li>
            <li class="nav-item GebruikerMenuItem">
                <a class="nav-link" id="adminItems" asp-controller="Admin" asp-action="AdminItems">Items</a>
            </li>
            <li class="nav-item GebruikerMenuItem">
                <a class="nav-link GebruikerMenuItemactive" id="adminTutorials" asp-controller="Admin" asp-action="AdminTutorials">Tutorials</a>
            </li>
            <li class="nav-item GebruikerMenuItem">
                <a class="nav-link" id="adminProfielen" asp-controller="Admin" asp-action="AdminProfiles">Profielen</a>
            </li>
        </ul>
    </div>

    <div class="col-lg-1 col-md-1"></div>

    <div class="col-lg-7 col-md-7 p-3">

        <font class="d-flex justify-content-center" size="+1">Zoek op naam </font>
        <div class="d-flex justify-content-center pb-5">
            <input id="searchItem" type="text" oninput="search()" />
        </div>

        <div class="home-content">

            <div class="row">
                @foreach (var tutorial in Model)
                {

                    <div class="@tutorial.Title.Replace(" ","-") col-lg-6 col-md-6 col-sm-12 mb-2" name="tutorial">
                        <iframe style="width:100%; height:250px" src="@Html.DisplayFor(Tutorial => tutorial.Link)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="@tutorial.Title.Replace(" ","-") col-lg-5 col-md-5 col-sm-12 my-auto" name="tutorial">
                        <div class="">
                            <font size="+2">
                                @Html.DisplayFor(modelItem => tutorial.Title)
                            </font>
                        </div>
                    </div>
                    <div class="@tutorial.Title.Replace(" ","-") col-12" name="tutorial">
                        <div id="ItemButtons-@tutorial.Id" class="text-center mb-5">
                            <a class="btn btn-primary mr-1" onclick="confirmDel(@tutorial.Id)" style="color: white; cursor: pointer;">Verwijderen</a>
                        </div>


                        <div id="ItemDelConfirm-@tutorial.Id" style="display: none;" class="text-center mb-5">
                            <h4>Weet je zeker dat je dit item wil verwijderen?</h4>
                            <br />
                            @using (Html.BeginForm(new { controller = "Admin", action = "deleteTutorial" }))
                            {
                                <input type="hidden" name="id" value="@tutorial.Id" />
                                <input type="hidden" name="page" value="AdminTutorials" />
                                <input type="submit" value="Bevestigen" class="btn btn-primary" />
                                <a class="btn btn-primary mr-1" onclick="confirmDel(@tutorial.Id)" style="color: white; cursor: pointer;">Annuleren</a>
                            }
                        </div>
                    </div>
                }
            </div>

        </div>

    </div>
</div>